.paragraph-bib {
    width: calc(100% - 200px);
    height: auto;
    padding: 50px 100px 0 100px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.dot {
    width: 10px;
    position: relative;
    top: 7px;
    margin-right: 4px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    float: left;
}

@media (max-width: 420px) {
    .paragraph-bib {
        width: 100%;
        text-align: justify;
        padding: 50px 0 0 0;
    }
}