#facts {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(0,   0, 0);
    background: rgba(18, 18, 19, 1);
    --arrow-h: 3.75rem;
    display: none;
    animation: zeroToSeen .2s linear;
}
@keyframes zeroToSeen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zeroToNotSeen {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.fact-txt {
    z-index: 10;
}

/* === case == */
.case {
    width: 37.5rem;
    aspect-ratio: 2/1;
}


/* === arrow === */

.left-arrow-space, .right-arrow-space {
    height: var(--arrow-h);
}

.arrow {
    position: relative;
    top: 0.313rem;
    left: 0.313rem;
    width: 3.125rem;
    height: calc(100% - 0.625rem);
    border-radius: 50%;
    cursor: pointer;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width: 50%;
    left: 23%;
    background: rgba(243, 243, 243, 1);
}
.arrow::before {
    transform: rotate(-45deg);
    top: calc(25% + 0.156rem);
}
.arrow::after {
    transform: rotate(45deg);
    top: auto;
    bottom: calc(25% + 0.156rem);
}

.right-arrow-space .arrow {
    transform: scaleX(-1);
    left: calc(100% - 3.438rem);
}

/* === fact space ==== */

.fact-space {
    height: calc(100% - 2*var(--arrow-h) - 3.125rem);
    background: rgba(243, 243, 243, 1);
    width: calc(100% - 3.125rem);
    padding: 1.563rem;
    text-align: justify;
}


.left-arrow-space, .right-arrow-space {
    width: 100%;
}

@media (max-width: 450px) {
    .fact-space {
        height: auto;
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}
